/* Image Styling */
img {
  padding-left: 25%;
  width: 50%;
}
/* Header 3 Styling */
h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/* Header 1 Styling */
h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #15cdfc;
  font-size: 40px;
}
h2 {
  text-align: center;
  width: 230px;
  height: 40px;
  background-color: #15cdfc;
  font-weight: bold;
  position: relative;
  animation: mymove 10s infinite;
  animation-timing-function: ease;
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 700px;
  }
}

/* Unordered List Styling */
ul {
  font-size: large;
  list-style: none;
  line-height: 25px;
  text-align: center;
  list-style-position: inside;
}
/* List Styling */
li {
  text-align: center;
}
/* Background */
body {
  height: 200px;
  background-image: linear-gradient(
    to right,
    rgba(227, 227, 227, 0),
    rgb(27, 27, 27)
  );
}

form {
  padding-left: 43%;
}

@media screen and (max-width: 480px) {
  form {
    padding-left: 23%;
  }
}
